@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate-0deg {
  transform: rotate(0deg);
  transform-origin: center center;
  transition: transform 0.5s;
}

.rotate-90deg {
  transform: rotate(90deg);
  transform-origin: center center;
  transition: transform 0.5s;
}

@layer base {
  .squareWinner {
    @apply bg-red-500;
  }
}
